.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('./images/default-pattern.png');
  min-height: 100vh;
  min-width: 100%;
}

.app-header {
  width: 80%;
  margin: 20px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 9px solid white;
  background-image: url('./images/default-header.jpg');
  min-height: 195px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-position: center; */
  background-size: 100%;
}

.app-title {
  padding: 50px 0px 10px 0px;
  color: white;
  font-size: 45px;
  font-weight: 800;
}

.app-description {
  color: #CBC8C6;
  font-size: 25px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #504741;
  min-height: 50px;
}

.nav-btn {
  background-color: #504741;
  border: none;
  color: #CBC8C6;
  font-size: 12px;
  padding: 15px;
}

.nav-btn:hover {
  background-color: #302B27;
  color: white;
  cursor: pointer;
}

#nav-btn {
  border-right: 1px solid #302B27;
}

.articles {
  width: 80%;
  margin: 20px 0px;
}

.article-section {
  margin: 20px 0px;
  background-color: white;
}

.article-title {
  text-shadow: 3px 3px 0px rgba(0, 0, 0, .1);
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: #504741;
  padding: 25px 25px 15px 25px;
}

.article-date {
  color: #999999;
  font-size: 0.9em;
  padding-left: 25px;
}

.article-body {
  color: #666666;
  font-size: 1em;
  font-weight: 300;
  padding: 25px;
}

.article-img {
  padding: 25px;
  max-width: 275px;
}