.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #998871;
  min-height: 100vh;
  min-width: 100%;
}

.app-header {
  width: 80%;
  margin: 20px 0px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 8px solid white;
  background-image: url('./images/trout_four.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100vh;
}

.app-title {
  padding: 10px;
  color: white;
  font-size: 25px;
}

.app-description {
  padding-bottom: 10px;
  color: white;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #504741;
}

.nav-btn {
  background-color: #504741;
  border: none;
  color: white;
}

.nav-btn:hover {
  background-color: white;
  color: #504741;
}